html.js_on #cartoon{display:none;} 
  
body{
  background-color: black;
 }

 .drDoom{
/*  animation: color var(--duration) linear infinite;
  width: 100%;
  /*position: absolute;*/
/*  bottom: 0;*/
  margin-top:20px;
} 

#cartoon{
  opacity:0.7;
}