<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a class="gmail" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html %} <a class = "github-user" href = "https://github.com/jduran7">{{site.github_username}}</a>
          </li>
          {% endif %}

          <li>
            <i class="fa fa-codepen" aria-hidden="true"></i> <a class = "codepen-user" href = "https://codepen.io/jduran/#">{{site.codepen_username}}</a>
          </li>

          <li>
            <i class="fa fa-linkedin" aria-hidden="true"></i> <a class = "codepen-user" href = "https://linkedin.com/in/josefdb">{{site.linkedin_username}}</a>
          </li>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
