<!doctype html>
<html>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <title>Jose Duran</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic'
    rel='stylesheet' type='text/css'>
    
    
    <body>
        <div id="resume">
            <header id="header">
                <img src="" alt="Jose Duran" />
                <div class="middle">
                    	<h1 class="name">Jose Duran</h1>

                    	<h2 class="label">Software developer</h2>

                </div>
            </header>
            <section id="basics">
                <div id="location">	<span class="fa fa-map-marker"></span>
	<span class="address">
								5 Kendall St,
							</span>
	<span class="postalCode">
								MA 02445,
							</span>
	<span class="city">
								Brookline
							</span>
	<span class="countryCode">
								(US),
							</span>
	<span class="region">
								Massachusetts
							</span>

                </div>
                <div id="contact">
                    <div class="website">	<a href="http://jduran.me">http://jduran.me</a>

                    </div>
                    <div class="email">	<span class="fa fa-envelope"></span>
	<a href="mailto:josefdb@gmail.com">josefdb@gmail.com</a>

                    </div>
                    <div class="phone">	<span class="fa fa-phone-square"></span>
4156969727</div>
                </div>
                <div id="profiles">
                    <div class="item">	<span class="network fa fa-github github"></span>
	<span class="username">
								<span class="url">
									<a href="https://github.com/jduran7">Jduran7</a>
								</span>
</span>
                    </div>
                    <div class="item">	<span class="network fa fa-linkedin linkedin"></span>
	<span class="username">
								<span class="url">
									<a href="https://www.linkedin.com/in/josefdb/">josefdb</a>
								</span>
</span>
                    </div>
                </div>
            </section>
            <section class="section main-summary">
                	<h2 class='section-title'>About</h2>

                <section>
                    <p>Software developer with a background in medicine, interested in JavaScript
                        frameworks, the web apps ecosystem and working with data.</p>
                </section>
            </section>
            </section>
            <section class="section">
                	<h2 class='section-title'>Experience</h2>

                <section id="work">
                    <header>
                        	<h3 class="name">
								International Research Initiative
							</h3>

                        <div class="date">	<span class="startDate">
									September 2016
								</span>
	<span class="endDate">
									- Invalid date
								</span>

                        </div>
                    </header>
                    <div class="item">
                        <div class="position">Director of Tech and Media</div>
                        <div class="website">	<a href="https://www.bidmc.org/">https://www.bidmc.org/</a>

                        </div>
                        <div class="summary">
                            <p>IRI is a research exchange program that aims to connect medical graduates
                                in developing countries with clinical and basic science research laboratories
                                in the Boston area. Responsible for the website and software tools used
                                to process applications.</p>
                        </div>
                        <ul class="highlights">
                            <li>Increased outreach (6500+ users since website was launched)</li>
                            <li>Profitable since July 2018</li>
                        </ul>
                    </div>
                    <header>
                        	<h3 class="name">
								Beth Israel Deaconess Medical Center
							</h3>

                        <div class="date">	<span class="startDate">
									June 2016
								</span>
	<span class="endDate">
									- Invalid date
								</span>

                        </div>
                    </header>
                    <div class="item">
                        <div class="position">Postdoctoral research fellow (Radiation Oncology)</div>
                        <div class="website">	<a href="https://www.bidmc.org/">https://www.bidmc.org/</a>

                        </div>
                        <div class="summary">
                            <p>Designed and coordinated studies on the effectiveness of radiosurgery
                                in advanced pancreatic cancer, radioprotection of healthy tissue and quality
                                control of radiation treatments.</p>
                        </div>
                        <ul class="highlights">
                            <li>Abstract accepted at ASTRO meeting (largest conference for the specialty)</li>
                            <li>4 original research papers on pancreatic cancer</li>
                        </ul>
                    </div>
                    <header>
                        	<h3 class="name">
								PicsArt, MyLikes
							</h3>

                        <div class="date">	<span class="startDate">
									December 2013
								</span>
	<span class="endDate">
									- December 2015
								</span>

                        </div>
                    </header>
                    <div class="item">
                        <div class="position"></div>
                        <div class="website">	<a href="https://picsart.com / https://www.crunchbase.com/organization/mylikes">https://picsart.com / https://www.crunchbase.com/organization/mylikes</a>

                        </div>
                        <div class="summary">
                            <p>Freelance content writer and translator for two startups in San Francisco:
                                PicsArt (Image editing) and MyLikes (viral content and marketing, rebranded
                                as PostIntelligence in 2017).</p>
                        </div>
                    </div>
                </section>
            </section>
            <section class="section">
                	<h2 class='section-title'>Education</h2>

                <section id="education">
                    <header>
                        	<h3 class="institution">
										Universidad de Los Andes (Bogotá, Colombia)
									</h3>

                        <div class="date">	<span class="startDate">
										2005
									</span>
	<span class="endDate">
										- 2012
									</span>

                        </div>
                    </header>
                    <div class="item">
                        <div class="studyType"></div>
                        <div class="area">Doctor of Medicine (MD)</div>
                        <div>	<span class="fa fa-graduation-cap"></span>
	<span class='gpa'> GPA: </span>

                        </div>
                    </div>
                </section>
            </section>
            <section class="section">
                	<h2 class='section-title'>Volunteer</h2>

                <section id="volunteer">
                    <header>
                        	<h3 class="company">
										International Research Initiative (IRI)
									</h3>

                        <div class="date">	<span class="startDate">
											September 2016
										</span>
	<span class="endDate">
											- Invalid date
										</span>

                    </header>
                    <div class="item">
                        <div class="position">Director of Media and communications</div>
                        <div class="website">	<a href="https://irinitiative.com">https://irinitiative.com</a>

                        </div>
                        <div class="summary">
                            <p>IRI is a research exchange program ran entirely by volunteers that aims
                                to connect medical graduates in developing countries with clinical and
                                basic science research laboratories in the Boston area. Responsible for
                                the website and software tools used to process applications.</p>
                        </div>
                        <ul class="highlights">
                            <li>Increased outreach (~6500 users since website was launched)</li>
                            <li>Profitable since July 2018</li>
                        </ul>
                    </div>
                </section>
            </section>
            <section class="section">
                	<h2 class='section-title'>Skills</h2>

                <section id="skills">
                    <div class="item">
                        <div class="name">Web Development</div>
                        <div class="level advanced">	<em>Advanced</em>

                            <div class="bar"></div>
                        </div>
                        <ul class="keywords">
                            <li>HTML/CSS</li>
                            <li>Javascript</li>
                            <li>React</li>
                            <li>D3.js</li>
                            <li>PHP</li>
                            <li>node.js</li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="name">Statistical programming</div>
                        <div class="level intermediate">	<em>Intermediate</em>

                            <div class="bar"></div>
                        </div>
                        <ul class="keywords">
                            <li>R</li>
                            <li>Python</li>
                            <li>STATA</li>
                        </ul>
                    </div>
                </section>
            </section>
            <section class="section">
                	<h2 class='section-title'>Languages</h2>

                <section id="languages">
                    <div class="item">
                        <div class="language">English</div>
                        <div class="fluency">	<em>Fluent</em>

                        </div>
                    </div>
                    <div class="item">
                        <div class="language">Spanish</div>
                        <div class="fluency">	<em>Fluent</em>

                        </div>
                    </div>
                    <div class="item">
                        <div class="language">German</div>
                        <div class="fluency">	<em>Basic</em>

                        </div>
                    </div>
                </section>
            </section>
            </div>
    </body>

</html>