
a:hover{
	text-decoration: none;
}

a.site-title{
	color: #ADADAD !important;
}

a.site-title:hover{
	color: #B5CAFD !important;
}

a.page-link{
	color: #A0A0A0 !important;
    font-family: 'Archivo Narrow', sans-serif;
}

a.page-link:hover{
	color: #B5CAFD !important;
}

header.site-header{
	background-color: #626B6E;
}

main.page-content{
	background-color: #FFFFFF;
}

a.post-link{
	color: #F38C1A;
}

a.post-link:hover{
	color: #ad9171;
}


footer.site-footer{
	background-color: #afa99a;
}

footer p{
	color: #FDFDFD;
}

header .wrapper {
	width: 40%;
	margin: auto;
	padding: 0;
}

.site-nav{
	text-align: center;
	float: center;
	line-height: 50px;
	float: none;
}

.site-header{
	min-height: 50px;
}