@import "table";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background:#fff;
}

main.page-content {
  flex: 1 0 auto;
  padding-top:70px;
  // background-color: #9d36ea
  // background: #faf linear-gradient(160deg, #faf, #88f);
  // background: linear-gradient(160deg, #daaaff, #373790)
  background: linear-gradient(160deg, #aaffd8, #373790);
}

.img-centered > img{
  display: block !important;
  margin: 0 auto !important;
  margin-bottom: 30px !important;
}

.rounded-image{
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.em, em-svg{
  height: 1em !important;
  width: 1em !important;
  margin-left: 0px;
}

a:hover{
  text-decoration: none;
}

a.site-title{
  color: #ADADAD !important;
}

a.site-title:hover{
  color: #B5CAFD !important;
}

a.page-link{
  color: #444040 !important;
  font-family: 'Viga', sans-serif !important; 
  // -webkit-transition: color 0.3s ease-out;
  // -moz-transition: color 0.3s ease-out;
  // -o-transition: color 0.3s ease-out;
  // transition: color 0.3s ease-out;
}

a.page-link:hover{
  color: #7869fb !important;
}

a.codepen-user:hover{
  color: #B5CAFD;
}

a.github-user:hover{
  color: #B5CAFD; 
}

a.gmail:hover{
  color: #B5CAFD; 
}

header.site-header{
  // -webkit-box-shadow: 0 8px 6px -6px #999;
  // -moz-box-shadow: 0 8px 6px -6px #999;
  // box-shadow: 0 8px 6px -6px #999;
  // background-color: #40404e;
  // width: 1000px !important;
  // margin:auto;
  // padding:0;
  // font-family: 'Viga', sans-serif !important; 

}

a.post-link{
  color: #4C4746;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  font-weight:400;
  font-size: 22px;
}

 ul.post-list > li:nth-child(1) > h2 > a{
  padding-top: 20px;
}

a.post-link:hover{
  color: #7869fb;
}

.post-title{
  margin-top: 20px;
  padding-top:20px;
  font-family: 'Roboto', sans-serif;
  /*font-size: 32px;*/
}

h1.post-title{
  font-size: 28px;
}

.post-list{
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  // padding-top: 2px;
  padding-bottom: 10px;
  // margin-top: 50px;
  border-radius: 5px;
}

.post-list > li{
  line-height: 0em;
  padding-left: 30px;
}

.post-list > li:not(:last-child){
  margin-bottom: 60px;
}

.post-header{
  padding-left:20px;
}

.post-content {
  font-family: Hind;
  padding: 20px 70px;
  // padding: 20px 50px;
  background: #fcfdfb;
  border-radius: 0px 0px 32px 32px;
}

.techicon{
  font-size: 5em;  
}

h2{
  margin-top: 40px;
  line-height:1em;
}

footer.site-footer{
  -webkit-box-shadow: 0 -7px 6px -6px #999;
  -moz-box-shadow: 0 -7px 6px -6px #999;
  box-shadow: 0 -7px 6px -6px #999;
  background-color: #24253a;
  border-top: 0px;
}

footer p{
  color: #A0A0A0;
}

header .wrapper {
  // width: 40%;
  max-height: 80px;
  margin: auto;
  padding: 0;
}

//navbar 

@media (min-width: 766px){
  .site-nav{
    width: 766px;
    height:80px;
  }
}

.site-nav{
  // text-align: center;
  // float: center;
  line-height: 80px;
  // float: none;
  background-color:white;
  // padding: 10px 16px;
  // background: #555;
  // color: #f1f1f1;
  position: fixed;
  // padding:0 120px;
  top: 0;
  text-align: center;
  /*margin-top: 8px;*/
}

.site-header{
  min-height: 80px;
  border-top: 0px;
  border-bottom: 1px solid #f3f3f3;
  width: 100vw;
  background: white;
  position: fixed !important;
  opacity:0.99;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 1px 0.4px 4px 0.6px #737373;
  z-index: 999;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 40px;
}

code, kbd, pre, samp { font-family: 'Source Code Pro',Menlo,Monaco,Consolas,"Courier New",monospace; }
/* highlight */
.highlight pre {background-color: #272822}
.highlight .hll { background-color: #49483e }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

pre code {
  color: #c1a9af;
  font-size: 0.8em;
  background-color: transparent;
  border-radius: 8px !important;
}

.codepen-user {
  padding-left: 5px;
}

@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 5px; padding-left: 5px; } 

// .post-list > li {
//   /* line-height: 1em; */
//   padding-left: 0px;
// }

main.page-content{
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.post-list{
  margin-top: -23px;
}

li > span{
  margin-left: 0px !important;
}

.post-list > li{
  line-height: 0em;
}

.post-link{
  font-size: 20px !important;
}


}


@media screen and (max-width: 765px) { .site-nav { position: absolute; top: 22px; right: 22px; background-color: #bdbdbd; border: 1px solid #a09d9d; border-radius: 5px; text-align: right; }
  .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg path { fill: #424242; }
  .site-nav input ~ .trigger { clear: both; display: none; }
  .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; } 
  main.page-content{
    background: white !important;
  }

    .site-nav{
      background-color: white !important;
    }

  .post-content{
    padding: 20px 30px;
    /*text-align: justify;*/
  }

  }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper object,
.videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  
  
}

//add offset to blog post dates
li > span {
  margin-left: 30px;
}

article.post{
  background: white;
  border-radius: 5px;
}

.btn {
  background: transparent;
  border: 1px solid #7869fb;
  padding: 10px 13px;
  width: 150px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #7869fb;
  letter-spacing: 0.6px;
  border-radius: 32px;
  text-decoration: none;
}

.btn:hover{
    background: #7869fb;
    border: 1px solid #7869fb;
    color: white;
    cursor: pointer;
}

a.btn:visited{
  color: #7869fb;
}

a.btn:visited:hover{
  color: white;
}


.em-open_file_folder{
  margin-top: -5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.interested {
  font-size: 32px;
  font-family: 'Roboto';
  background:grey;
  padding:20px;
}

.interested >i{
  margin-bottom:3px;
}

.project-container{
  width: 310px;
  border: solid 1px #cccbcb;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 30px;
  display: inline-block;
  /* padding: 13px; */
    -moz-box-shadow:    2px 1px 2px 2px rgb(214, 214, 214);
    -webkit-box-shadow: 2px 1px 2px 2px rgb(214, 214, 214);
    box-shadow:         2.2px 3.6px 0.9px 0.3px #c9c9c9;
  background: white;
}

.project-description > ul {
  color: #272822;
  // list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.techs > li a {
  color: #656565 !important;
  // color:#4040dd !important;
}

ul.techs > li{
  display: inline;
  padding:10px;
  text-decoration: none;
}

.project-description > span.section-label{
  background: grey;
  
}

.section-label{
  width:100%;
  background: #424242;
  color: #eaeaea;
  text-align: left;
}

.section-label > span{
  padding-left: 10px;
}

.section-label > span{
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}



.project-description > p{
  padding-left: 15px;
  padding-right: 10px;
  padding-top:6px;
  line-height: 1.1em;
  text-align: left;
}

ul.techs{
  padding-top:5px;
  font-size: 13px;
  padding-bottom: 5px;
  border-bottom: solid 1px lightgrey;
  text-align: left;
  padding-left: 5px;
}

.project-actions {
  padding-top: 18px;
  // float: right;
  padding-right: 10px;
  margin-bottom: 0;
  text-align:center;
}

a.btn + a.btn {
  margin-left: 10px;
}

 #iri-dashboard{
  height: 342px;
}

#iri-website{
  height: 342px;
}

#rogers-dictionary{
  height: 342px;
}

.project-image > img{
  width: 310px;
  height:150px;
}

#portfolio-content{
  // padding: 20px 30px !important;
  padding: 20px 0px !important;
  background: white;
  text-align: center;
}

@media(min-width: 755px){
  // .project-container + .project-container{
  //   margin-left:20px;
  // }

  .project-container:nth-child(even){
    margin-left:20px;
  }

}


.project-description > p{
  padding-bottom: 4px;
  margin-bottom: 0;
  color: #484848 !important;
  font-size: 14px;
}

.first-in-row{
  margin-left: 0px !important;
}


//making resume iframe responsive

.resp-container {
  position: relative;
  overflow: hidden;
  // padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


//customizing nav menu

@media screen and (max-width: 765px){
  .site-nav input:checked ~ .trigger {
    display: block;
    position: absolute;
    top: 58px;
    right: -23px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 100vw;
    z-index: 3;
    background-color: #eaeaea;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    /* float: left; */
    height: 150px;
  }

  a.page-link{
    margin-left: 0px !important;
  }

  h1.post-title{
    font-size:24px;
    padding-left: 6vw;
  }

  .site-header{
    background: #f5f5f5;
  }

  .post-header{
    padding-left: 0px;
  }

  a.page-link{
    color: #6254ca !important;
  }

  .post-list{
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .post-list > li {
    padding-left: 0px;
  }

  .post-meta{
    padding-left: 6vw;
  }
}

// end of menu


.awesome-text{
  display: block;
  float: left;
  width: 175px;
  height: 36px;
  // background:#3c3b3be3;
  // background: linear-gradient(45deg, #3e3d3d, #666ac7);
  // background: linear-gradient(45deg, #56435d, #4595da);
  background: #ffffffb5;
  margin-top: 22px;
  padding: 0;
  margin-left: calc((100% - 175px)/2);
  border-radius: 5px;
  border: 1px solid #a09d9d;
}

.site-header{
  background: #f5f5f5;
}

.site-nav{
  background: #f5f5f5;
}


//removing active link color in >mobile

.site-nav .page-link:active
{
    background-color: transparent;
}

a
{
    -webkit-tap-highlight-color: transparent; 
}

// modifying the active link color in mobile


.trigger .page-link{
  -webkit-tap-highlight-color: rgb(220, 225, 228); 
}


#blog-intro{
  background: white;
  border-radius: 5px;
}


//styling title of navbar in mobile

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);


.awesome-text > h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-family: Source Code Pro, sans-serif;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  transform: translate(0, -50%);
  // color:rgb(89, 225, 84);
  color:black;
}

#hammer-legend{
    text-align: right;
    margin-right: 15px;
    padding: 5px;
    font-style: italic;
    color: grey;
}