
a:hover{
	text-decoration: none;
}

a.site-title{
	color: #ADADAD !important;
}

a.site-title:hover{
	color: #B5CAFD !important;
}

a.page-link{
	color: #A0A0A0 !important;
}

a.page-link:hover{
	color: #B5CAFD !important;
}

header.site-header{
	background-color: #626B6E;
}

main.page-content{
	background-color: #FFFFFF;
}

a.post-link{
	color: #F38C1A;
}

a.post-link:hover{
	color: #ad9171;
}

h1.page-heading{
}


footer.site-footer{
	background-color: #afa99a;
}

footer p{
	color: #FDFDFD;
}

h2.footer-heading{
		
}

p{
	
}