---
layout: default
---
<article class="post portfolio-wrapper">

  <header class="post-header">
    <h1 class="post-title"><i class="em em-open_file_folder"></i> {{ page.title | escape }}</h1>
  </header>

  <div class="post-content" id="portfolio-content">
    {{ content }}
  </div>

</article>

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
  

  window.sr = ScrollReveal({ duration: 500});
  // sr.reveal('.post-title', {scale: 1, origin: 'left', distance: '4px', opacity: 0.9, duration: 800});
  // sr.reveal('.post-title', {scale: 1, origin: 'bottom', distance: '3px', opacity: 0.7});
  sr.reveal('.project-container', {scale: 1, origin: 'top', distance: '8px', opacity: 0}, 300);
</script>

