---
layout: default
---
<div class="home" id="blog-intro">

    <header class="post-header">
        <!-- <h1 class="post-title">Services</h1> -->
    </header>

    {{ content }}

    <div style="padding:20px;">
        <h1 class="post-title">Services</h1>
        <div class="content">
            <div class="section">
                <p>I currently offer freelance/consulting services in the following technologies:</p>
                <ul>
                    <li>React/NextJS</li>
                    <li>JavaScript/TypeScript</li>
                    <li>SASS/tailwind</li>
                    <li>Python/R/statistical programming</li>
                </ul>
                <p>Contact me for more information at <a href = "mailto: josefdb@gmail.com">josefdb@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>